# Default ignored files
/shelf/
.idea
out
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\admin\IdeaProjects\ClassAndObjectInJava\src\example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
